<h1> <%= @tasks.name %> </h1>

<p><%= @tasks.details %></p>

<p><%= @tasks.completed ? 'This task is completed' : 'This task is not completed yet' %></p>

<%= link_to "Edit Task", edit_task_path %>
<p></p>
<%= link_to "Go back to Tasks", tasks_path %>


<p></p>

<%= link_to "Delete Task",
  task_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
